#menu {
	position: absolute;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2rem;
	align-items: center;
	border: 1px solid rgb(20, 20, 20);
	border-radius: 0.5rem;
	background-color: rgba(200, 200, 200, 0.25);
	color: rgb(9, 36, 75);
	font-size: 1.3rem;
	font-weight: 600;
}

#menu::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	filter: blur(10px);
	pointer-events: none;
}

.menu-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	padding: 0.3rem;
}

#menu img {
	height: 1.7rem;
	cursor: pointer;
}

.menu-group select {
	border-radius: 0.5rem;
	border: 2px solid rgb(9, 36, 75);
	padding: 0.1rem;
}

.menu-group option {
	font-size: 1rem;
}
