#editor-cont {
	height: 100%;
	width: 100%;
	padding-top: 4rem;
	background-color: white;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	border: 1px solid black;
}

#editor {
	height: 100%;
	width: 100%;
	color: black;
}

#editor:focus {
	outline: none;
}
